* {
    margin:0;
    box-sizing: border-box;
}


li a {
    padding: 5px;
    color: #eceaf3cb;
    text-decoration: none;
}

li a:hover {
    background: #3b3232;
}

.nav{
    float: right;
}

.nav > li {
    float: left;
    padding-right: 25px;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 100px;
    overflow: hidden;
    padding-top: 10px; 
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
    background:#000;
    padding: 10px;
    list-style:none;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.logo {
    float: left;
}

img {
    display: inline;
    margin: 100%;
}

.menu-fixed{
    position: fixed;
    z-index: 1000;
    left: 0%;
    top: 0;
    width: 100%;
    /*max-width: 1000px;*/
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .5); /*sombra*/
    background:#000;
    padding: 10px;
}