body {
    background-image: url('../img/temp.jpg');
    background-size: 80%;
    background-attachment: fixed;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 30%;
        margin: 0px;
        padding: 0px;
    }

    li {
        margin: 10px 0px;
    }

    a[role="button"] {
        display: inline-block;
        text-decoration: none;
        font: menu;
        padding: 5px 15px;
        background-color: #000;
        color: #fff;
    }

    a:hover {
        background-color: #ccc;
        color: #fff;
    }