body {
    background-image: url("../img/fondoNeon1.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

h2{
    color: #000000;
    margin: 10px;
    font-size: 50px;
}

.form {
    text-align: center;
    float: center;
    width:600px;
	height: auto;
	margin: 100px 500px 200px 400px;
	padding: 30px;
    background-color: rgba(255,255,255,0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 10px double rgba(0, 0, 0, 0.2);
    color: #000000;
    transition-delay: 1s;
    box-shadow: 0 0 10px #2195f3d2, 0 0 40px #2195f3d2, 0 0 80px #2195f3d2, 0 0 120px #f321d7d2;
}


.form label {
    font-size: 60px !important; 
    font-weight: bold;
    color: #000000;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    color: #000000;
    transition-delay: 1s;
    box-shadow: 0 0 20px #2195f3d2, 0 0 40px #f321d7d2;
}

.form input {
    margin-bottom: 40px;
    font-size: 25px;
    background: #2195f3d2;
}

.cinemasAvailable{
    margin: 30px;
	font-size: 16px;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 1.3;
	padding: .4em 1.4em .3em .8em;
	width: 400px;
	max-width: 100%; 
	box-sizing: border-box;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.cinemasAvailable-css::-ms-expand {
	display: none;
}
.cinemasAvailable:hover {
	border-color: #888;
}
.cinemasAvailable:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
}
.cinemasAvailable option {
	font-weight:normal;
}


/*button*/

.boton {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    background: #000;
    border: none;
    font-size: 30px !important; 
    font-weight: bold;
    padding: 2%;
}

.boton:hover{
    color: #00aeffd2;
    background: #000000;
    transition-delay: 1s;
    box-shadow: 0 0 10px #00aeffd2, 0 0 40px #00aeffd2, 0 0 80px #00aeffd2, 0 0 120px #00aeffd2;
}


.boton span{
    position: absolute;
    display: block;
}

/*arriba*/
.boton span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00aeffd2);
}

.boton:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

/*abajo*/
.boton span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00aeffd2);
}

.boton:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

/*derecha*/
.boton span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00aeffd2);
}

.boton:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

/*izquierda*/
.boton span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00aeffd2);
}

.boton:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
